div.dropdown {
    display: inline-block;
}

div.dropdown button.btn {
    padding: 10px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgNDggNDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxLjQxNDIxOyI+PHBhdGggZD0iTTE0LjgzLDE2LjQybDkuMTcsOS4xN2w5LjE3LC05LjE3bDIuODMsMi44M2wtMTIsMTJsLTEyLC0xMmwyLjgzLC0yLjgzWiIgc3R5bGU9ImZpbGw6IzczNzU3NztmaWxsLXJ1bGU6bm9uemVybzsiLz48cGF0aCBkPSJNMCwxbDAsNDUiIHN0eWxlPSJmaWxsOiM3Mzc1Nzc7c3Ryb2tlLXdpZHRoOjAuNzVweDtzdHJva2U6IzczNzU3NzsiLz48L3N2Zz4=) center right no-repeat, white;
    background-size: 22px;
    border: 1px solid #E5E5E5;
    color: #737577;
    padding-right: 30px;
}

ul.dropdown-menu {
    display: block;
    padding: 10px;
    margin: 0;
    border: 1px solid gray;
}

ul.dropdown-menu {
    display: block;
    position: absolute;
    clear: left;
}

ul.dropdown-menu[aria-expanded="false"] {
    display: none;
}

ul.dropdown-menu[aria-expanded="true"] {
    display: block;
}

ul.dropdown-menu li {
    list-style: none;
}