* {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

textarea, input, button {
  outline: 0;
}

button:hover, button:active, button:focus {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}


div.dropdown, div.button, input {
  display: block;
  margin: 0 5px 0 5px;
  float: left;
  z-index: 2;
}

#roles {
  width: 177px;
}

#levels {
  width: 100px;
}

#distance {
  width: 200px;
}

@media only screen and (max-device-width: 450px) {
  #roles, #levels, #distance {
    width: calc(100% - 4px);
    margin-bottom: 20px;
  }
}

@media only screen and (max-device-width: 960px) and (orientation: landscape) {

  #roles {
    width: 200px;
  }

  #levels {
    width: 100px;
  }

  #distance {
    width: 100px;
  }

  #roles, #levels, #distance {
    margin-bottom: 0;
  }

  form > div {
    float: left;
    padding-bottom: 0;
    height: 45px;
  }

}